@font-face {
    font-family: 'HelveticaNeue-Roman'; /*a name to be used later*/
    src: url('../fonts/HelveticaNeueCyr-Roman.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'HelveticaNeue-Bold'; /*a name to be used later*/
    src: url('../fonts/HelveticaNeueCyr-Bold.woff'); /*URL to font*/
}

@font-face {
    font-family: 'HelveticaNeue-Medium'; /*a name to be used later*/
    src: url('../fonts/HelveticaNeueCyr-Medium.woff'); /*URL to font*/
}
