.tabs {
    display: flex;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    // margin-left:80px;


    &__item {
        width: 146px;
        height: 46px;
        text-transform: uppercase;
        background-color: #f5f5f5;
        color: #a2a2a2;
        text-align: center;
        line-height: 46px;
        border-right: 1px solid #dcdcdc;
        font-size: 13px;
        font-family: 'HelveticaNeue-Medium';
        cursor: pointer;

        &--active {
            background-color: #ffffff;
            color: #6897dc;
            border-bottom: 2px solid #6897dc;
            border-right: none;
            border-radius: 5px 0 0 0;
        }
    }
}